
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container{
        margin-top:200px;
    }
</style>
<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3704.0864576426834!2d105.21022461465782!3d21.815590165827707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134adfc12127c43%3A0xa6537b48b8797bdb!2zODAgxJDGsOG7nW5nIFF1YW5nIFRydW5nLCBQLiBUw6JuIFF1YW5nLCBUdXnDqm4gUXVhbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1675740153977!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

